//body {
//    background: url('../images/New_York_Giants6.jpg');
//     opacity: 1.3;
//}

.hangman_pic {
	width: 120px;
	height: 164px;
	
}

.image_zero  {
	width: 120px;
    height: 164px;
    background: url('../images/sprite2_cr0.png');
//    background-position: 0px 0px;
	
}